@media only screen and (min-width: 900px) {
	.SectionTitle {
		padding-left: 20px; 
		padding-right: 20px;
	}

	.PositionTitle {
		padding-left: 40px; 
		padding-right: 20px;
		padding-top: 20px;
	}

	.PositionContent {
		padding-left: 80px; 
		padding-right: 40px; 
		margin-top: -25px; 
		text-indent:0px;
	}
	
	.PositionDate {
		text-align: right; 
		margin-top: -35px; 
		padding-right: 20px;	
	}
}
